.ui-messages.ui-widget {
	display: inline-block;
	margin-left: 15px;
}

.panelGrid td, .panelGrid tr {
	border: none !important;
}

.ui-growl {
	z-index: 9999 !important;
	margin-top: 5%;
}

#statusDialog .ui-dialog .ui-dialog-titlebar {
	display: none !important;
}

.ui-dialog {
	z-index: 1031 !important;
}

.ui-panel {
	border-color: #428BCA;
}

.ui-panel-title {
	font-size: 25px;
	color: #FFF;
}

.ui-panel-titlebar {
	color: #FFF;
	background-color: #428BCA;
	border-color: #FFF
}