<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RCMS - Research Content Management System</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/estilo.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <!-- Include all compiled plugins (below), or include individual files as needed --> 
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.tagcanvas.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                if (!$('#myCanvas').tagcanvas({
                    textColour: '#ffffff',
                    outlineThickness: 1,
                    maxSpeed: 0.1,
                    depth: 0.75
                })) {
                    // TagCanvas failed to load
                    $('#myCanvasContainer').hide();
                }
                // your other jQuery stuff here...
            });
        </script>

        <div id="cabecalho" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                        <form class="form-horizontal" role="form">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                <input type="text" class="form-control input-sm" placeholder="digite aqui sua busca">
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-6 col-md-6"><p>&nbsp;</p></div>
                    <div class="col-xs-1 col-md-1">
                        <!-- Small modal -->
                        <a class="btn btn-link" data-toggle="modal" data-target=".bs-login-modal-sm">Login</a>

                        <div class="modal fade bs-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <form role="form">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Login</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="loginEmail">E-mail</label>
                                                <input type="email" class="form-control" id="loginEmail" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="loginPassword">Senha</label>
                                                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                            <button type="submit" class="btn btn-default">Entrar</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <select class="form-control input-sm">
                            <option>Português</option>
                            <option>Inglês</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu" class="container-fluid">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="index.html"><img src="imagens/logo-rcms.jpg" alt="RCMS" /></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="index.html">Início</a></li>
                        <li class="box-hover"><a href="#">O Grupo</a></li>
                        <li class="box-hover"><a href="pesquisadores.html">Pesquisadores</a></li>
                        <li class="box-hover"><a href="#">Projetos de Pesquisa</a></li>
                        <li class="box-hover"><a href="#">Publicações</a></li>
                        <li class="box-hover"><a href="#">Indicadores</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Início</a></li>
                        <li class="active">Pesquisadores</li>
                    </ol>
                        <h1>Pesquisadores</h1>
                        <hr/>
                    <ul class="listas">
						<li><a href="pesquisador.html">Antonio Francisco do Prado</a></li>
						<li><a href="#">Marilde Terezinha Prado Santos</a></li>
						<li><a href="#">Sérgio Donizetti Zorzo</a></li>
						<li><a href="#">Vania Paula de Almeida Neris</a></li>
					</ul>
                </div>
            </div>
        </div>
        <div id="row-logotipos" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 logo-cell"><a href="#"><img src="imagens/logo-ufscar.jpg" alt="UFSCar" /></a></div>
                    <div class="col-md-3 logo-cell"><a href="#"><img src="imagens/logo-dc-ufscar.jpg" alt="DC/UFSCar" /></a></div>
                    <div class="col-md-3 logo-cell"><a href="#"><img src="imagens/logo-capes.jpg" alt="CAPES" /></a></div>
                    <div class="col-md-3 logo-cell"><a href="#"><img src="imagens/logo-fapesp.jpg" alt="FAPESP" /></a></div>
                </div>
            </div>
        </div>        
        <div id="rodape" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Contato</h3>
                        <address>UFSCar - Campus São Carlos<br/>
                            Rodovia Washington Luís, Km 235 - SP 310<br/>
                            São Carlos - SP - Brasil<br/>
                            CEP 13565-905<br/>
                            <br/>
                            Telefone: (16) 3351-8111<br/>
                            <br/>
                            E-mail: <a href="#">contato@domino.com</a></address>
                    </div>
                    <div class="col-md-4">
                        <h3>Mapa do site</h3>
                        <ul>
                            <li><a href="#">Início</a></li>
                            <li><a href="#">O Grupo</a></li>
                            <li><a href="#">Pesquisadores</a></li>
                            <li><a href="#">Projetos de Pesquisa</a></li>
                            <li><a href="#">Publicações</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Mais procurados</h3>
                        <div id="myCanvasContainer">
                            <canvas width="200" height="170" id="myCanvas">
                                <p>Anything in here will be replaced on browsers that support the canvas element</p>
                                <ul>
                                    <li><a href="#">Java</a></li>
                                    <li><a href="#">Linux</a></li>
                                    <li><a href="#">Android</a></li>
                                    <li><a href="#">Grails</a></li>
                                    <li><a href="#">Groove</a></li>
                                    <li><a href="#">Postgres</a></li>
                                    <li><a href="#">Netbeans</a></li>
                                    <li><a href="#">Eclipse</a></li>
                                    <li><a href="#">JPA</a></li>
                                    <li><a href="#">JSF</a></li>
                                    <li><a href="#">Framework</a></li>
                                </ul>
                            </canvas>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12 text-center">
                        2014 &copy; Departamento de Computação - UFSCar. Todos os direitos reservados.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>